body{
    margin: 0;
}
.left_side{
    background: linear-gradient(to right, #5faaff, #5faaff);
    height:100vh;
    color: black;
    text-align: center;
    padding-top: 60px;
}
.right_side img{
    width: 250px;
    margin-top: 40px;

}