body{
    margin: 0;
}
.left_side{
    background: linear-gradient(to right, #5faaff, #5faaff);
    height:100vh;
    color: black;
    text-align: center;
    padding-top: 60px;
}
.left_side img{
    width: 250px;
    margin-top: 40px;

}

.right_side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}
.login_form {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
